.revealFrombottom {
    opacity: 0;
    transform: translateY(50%);
    transition: .3s cubic-bezier(1, .46, .25, .90);
}
.revealFrombottom.active {
    opacity: 1;
    transform: translateY(0%);
}
.revealFromtop {
    opacity: 0;
    transform: translateY(-50%);
    transition: .3s cubic-bezier(1, .46, .25, .90);
}
.revealFromtop.active {
    opacity: 1;
    transform: translateY(0%);
}
.revealFade {
    opacity: 0;
    transition: .3s cubic-bezier(1, .46, .25, .90);
}
.revealFade.active {
    opacity: 1;
}