/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); /* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rowdies:wght@300;400;700&display=swap');

/* =================Uniq CSS Library=================

 * Visit Github Repo to know more information

================================================== */

/*Reset*/
*{padding: 0;margin: 0;box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup,tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 15px;}
/*Variable*/
:root {
    /*Size*/
    --xs-size: 2px;
    --s-size: 5px;
    --m-size: 10px;
    --l-size: 15px;
    --xl-size: 20px;
    --full: 100%;
    --half: 50%;
    --fit: fit-content;
    --max: max-content;
    --min: min-content;
    --none: 0;
    /*Thickness*/
    --sthin: 1px;
    --thin: 5px;
    --medium: 10px;
    --thick: 15px;
    --sthick: 20px;
    /*color*/
    --red: #ff0000;
    --orange: #ff7700;
    --pink: #f700ff;
    --blue: #0088ff;
    --yellow: #ffff00;
    --purple: #d000ff;
    --grey: #999999;
    --black: #000000;
    --white: #ffffff;
    --green: #00ff00;
}
/*Padding*/
.p-none{padding: var(--none);}
.p-xs{padding: var(--xs-size);}
.p-s{padding: var(--s-size);}
.p-m{padding: var(--m-size);}
.p-l{padding: var(--l-size);}
.p-xl{padding: var(--xl-size);}

.p-top-none{padding-top: var(--none);}
.p-top-xs{padding-top: var(--xs-size);}
.p-top-s{padding-top: var(--s-size);}
.p-top-m{padding-top: var(--m-size);}
.p-top-l{padding-top: var(--l-size);}
.p-top-xl{padding-top: var(--xl-size);}

.p-bottom-none{padding-bottom: var(--none);}
.p-bottom-xs{padding-bottom: var(--xs-size);}
.p-bottom-s{padding-bottom: var(--s-size);}
.p-bottom-m{padding-bottom: var(--m-size);}
.p-bottom-l{padding-bottom: var(--l-size);}
.p-bottom-xl{padding-bottom: var(--xl-size);}

.p-left-none{padding-left: var(--none);}
.p-left-xs{padding-left: var(--xs-size);}
.p-left-s{padding-left: var(--s-size);}
.p-left-m{padding-left: var(--m-size);}
.p-left-l{padding-left: var(--l-size);}
.p-left-xl{padding-left: var(--xl-size);}

.p-right-none{padding-right: var(--none);}
.p-right-xs{padding-right: var(--xs-size);}
.p-right-s{padding-right: var(--s-size);}
.p-right-m{padding-right: var(--m-size);}
.p-right-l{padding-right: var(--l-size);}
.p-right-xl{padding-right: var(--xl-size);}
/*Margin*/
.m-auto
.m-none{margin: var(--none);}
.m-xs{margin: var(--xs-size);}
.m-s{margin: var(--s-size);}
.m-m{margin: var(--m-size);}
.m-l{margin: var(--l-size);}
.m-xl{margin: var(--xl-size);}

.m-top-none{margin-top: var(--none);}
.m-top-xs{margin-top: var(--xs-size);}
.m-top-s{margin-top: var(--s-size);}
.m-top-m{margin-top: var(--m-size);}
.m-top-l{margin-top: var(--l-size);}
.m-top-xl{margin-top: var(--xl-size);}

.m-bottom-none{margin-bottom: var(--none);}
.m-bottom-xs{margin-bottom: var(--xs-size);}
.m-bottom-s{margin-bottom: var(--s-size);}
.m-bottom-m{margin-bottom: var(--m-size);}
.m-bottom-l{margin-bottom: var(--l-size);}
.m-bottom-xl{margin-bottom: var(--xl-size);}

.m-left-none{margin-left: var(--none);}
.m-left-xs{margin-left: var(--xs-size);}
.m-left-s{margin-left: var(--s-size);}
.m-left-m{margin-left: var(--m-size);}
.m-left-l{margin-left: var(--l-size);}
.m-left-xl{margin-left: var(--xl-size);}

.m-right-none{margin-right: var(--none);}
.m-right-xs{margin-right: var(--xs-size);}
.m-right-s{margin-right: var(--s-size);}
.m-right-m{margin-right: var(--m-size);}
.m-right-l{margin-right: var(--l-size);}
.m-right-xl{margin-right: var(--xl-size);}

.m-auto{margin: auto;}
.m-left-auto{margin-left: auto;}
.m-right-auto{margin-right: auto;}
/*height*/
.h-none{height: var(--none);}
.h-full{height: var(--full);}
.h-half{height: var(--half);}
.h-min{height: var(--min);}
.h-max{height: var(--max);}
.h-fit{height: var(--fit);}
.h-4{height: 4px;}
.h-8{height: 8px;}
.h-12{height: 12px;}
.h-20{height: 20px;}
.h-36{height: 36px;}
.h-42{height: 42px;}
.h-48{height: 48px;}
.h-52{height: 52px;}
.h-56{height: 56px;}
.h-60{height: 60px;}
.h-64{height: 64px;}
.h-72{height: 72px;}
.h-80{height: 80px;}
.h-96{height: 96px;}
.h-100{height: 100px;}
.h-114{height: 114px;}
.h-120{height: 120px;}
.h-128{height: 128px;}
.h-136{height: 136px;}
.h-148{height: 148px;}
.h-152{height: 152px;}
.h-156{height: 156px;}
.h-160{height: 160px;}
.h-164{height: 164px;}
.h-172{height: 172px;}
.h-180{height: 180px;}
.h-196{height: 196px;}
.h-fullScreen{height: 100vh;}

.max-h-none{max-height: var(--none);}
.max-h-full{max-height: var(--full);}
.max-h-half{max-height: var(--half);}
.max-h-min{max-height: var(--min);}
.max-h-max{max-height: var(--max);}
.max-h-fit{max-height: var(--fit);}
.max-h-4{max-height: 4px;}
.max-h-8{max-height: 8px;}
.max-h-12{max-height: 12px;}
.max-h-20{max-height: 20px;}
.max-h-36{max-height: 36px;}
.max-h-42{max-height: 42px;}
.max-h-48{max-height: 48px;}
.max-h-52{max-height: 52px;}
.max-h-56{max-height: 56px;}
.max-h-60{max-height: 60px;}
.max-h-64{max-height: 64px;}
.max-h-72{max-height: 72px;}
.max-h-80{max-height: 80px;}
.max-h-96{max-height: 96px;}
.max-h-100{max-height: 100px;}
.max-h-114{max-height: 114px;}
.max-h-120{max-height: 120px;}
.max-h-128{max-height: 128px;}
.max-h-136{max-height: 136px;}
.max-h-148{max-height: 148px;}
.max-h-152{max-height: 152px;}
.max-h-156{max-height: 156px;}
.max-h-160{max-height: 160px;}
.max-h-164{max-height: 164px;}
.max-h-172{max-height: 172px;}
.max-h-180{max-height: 180px;}
.max-h-196{max-height: 196px;}
.max-h-fullScreen{max-height: 100vh;}

.min-h-none{min-height: var(--none);}
.min-h-full{min-height: var(--full);}
.min-h-half{min-height: var(--half);}
.min-h-min{min-height: var(--min);}
.min-h-min{min-height: var(--min);}
.min-h-fit{min-height: var(--fit);}
.min-h-4{min-height: 4px;}
.min-h-8{min-height: 8px;}
.min-h-12{min-height: 12px;}
.min-h-20{min-height: 20px;}
.min-h-36{min-height: 36px;}
.min-h-42{min-height: 42px;}
.min-h-48{min-height: 48px;}
.min-h-52{min-height: 52px;}
.min-h-56{min-height: 56px;}
.min-h-60{min-height: 60px;}
.min-h-64{min-height: 64px;}
.min-h-72{min-height: 72px;}
.min-h-80{min-height: 80px;}
.min-h-96{min-height: 96px;}
.min-h-100{min-height: 100px;}
.min-h-114{min-height: 114px;}
.min-h-120{min-height: 120px;}
.min-h-128{min-height: 128px;}
.min-h-136{min-height: 136px;}
.min-h-148{min-height: 148px;}
.min-h-152{min-height: 152px;}
.min-h-156{min-height: 156px;}
.min-h-160{min-height: 160px;}
.min-h-164{min-height: 164px;}
.min-h-172{min-height: 172px;}
.min-h-180{min-height: 180px;}
.min-h-196{min-height: 196px;}
.min-h-fullScreen{min-height: 100vh;}

/*width*/
.w-none{width: var(--none);}
.w-full{width: var(--full);}
.w-half{width: var(--half);}
.w-min{width: var(--min);}
.w-max{width: var(--max);}
.w-fit{width: var(--fit);}
.w-4{width: 4px;}
.w-8{width: 8px;}
.w-12{width: 12px;}
.w-20{width: 20px;}
.w-36{width: 36px;}
.w-42{width: 42px;}
.w-48{width: 48px;}
.w-52{width: 52px;}
.w-56{width: 56px;}
.w-60{width: 60px;}
.w-64{width: 64px;}
.w-72{width: 72px;}
.w-80{width: 80px;}
.w-96{width: 96px;}
.w-100{width: 100px;}
.w-114{width: 114px;}
.w-120{width: 120px;}
.w-128{width: 128px;}
.w-136{width: 136px;}
.w-148{width: 148px;}
.w-152{width: 152px;}
.w-156{width: 156px;}
.w-160{width: 160px;}
.w-164{width: 164px;}
.w-172{width: 172px;}
.w-180{width: 180px;}
.w-196{width: 196px;}
.w-fullScreen{width: 100vw;}

.max-w-none{max-width: var(--none);}
.max-w-full{max-width: var(--full);}
.max-w-half{max-width: var(--half);}
.max-w-min{max-width: var(--min);}
.max-w-max{max-width: var(--max);}
.max-w-fit{max-width: var(--fit);}
.max-w-4{max-width: 4px;}
.max-w-8{max-width: 8px;}
.max-w-12{max-width: 12px;}
.max-w-20{max-width: 20px;}
.max-w-36{max-width: 36px;}
.max-w-42{max-width: 42px;}
.max-w-48{max-width: 48px;}
.max-w-52{max-width: 52px;}
.max-w-56{max-width: 56px;}
.max-w-60{max-width: 60px;}
.max-w-64{max-width: 64px;}
.max-w-72{max-width: 72px;}
.max-w-80{max-width: 80px;}
.max-w-96{max-width: 96px;}
.max-w-100{max-width: 100px;}
.max-w-114{max-width: 114px;}
.max-w-120{max-width: 120px;}
.max-w-128{max-width: 128px;}
.max-w-136{max-width: 136px;}
.max-w-148{max-width: 148px;}
.max-w-152{max-width: 152px;}
.max-w-156{max-width: 156px;}
.max-w-160{max-width: 160px;}
.max-w-164{max-width: 164px;}
.max-w-172{max-width: 172px;}
.max-w-180{max-width: 180px;}
.max-w-196{max-width: 196px;}
.max-w-fullScreen{max-width: 100vw;}

.min-w-none{min-width: var(--none);}
.min-w-full{min-width: var(--full);}
.min-w-half{min-width: var(--half);}
.min-w-min{min-width: var(--min);}
.min-w-min{min-width: var(--min);}
.min-w-fit{min-width: var(--fit);}
.min-w-4{min-width: 4px;}
.min-w-8{min-width: 8px;}
.min-w-12{min-width: 12px;}
.min-w-20{min-width: 20px;}
.min-w-36{min-width: 36px;}
.min-w-42{min-width: 42px;}
.min-w-48{min-width: 48px;}
.min-w-52{min-width: 52px;}
.min-w-56{min-width: 56px;}
.min-w-60{min-width: 60px;}
.min-w-64{min-width: 64px;}
.min-w-72{min-width: 72px;}
.min-w-80{min-width: 80px;}
.min-w-96{min-width: 96px;}
.min-w-100{min-width: 100px;}
.min-w-114{min-width: 114px;}
.min-w-120{min-width: 120px;}
.min-w-128{min-width: 128px;}
.min-w-136{min-width: 136px;}
.min-w-148{min-width: 148px;}
.min-w-152{min-width: 152px;}
.min-w-156{min-width: 156px;}
.min-w-160{min-width: 160px;}
.min-w-164{min-width: 164px;}
.min-w-172{min-width: 172px;}
.min-w-180{min-width: 180px;}
.min-w-196{min-width: 196px;}
.min-w-fullScreen{min-width: 100vw;}

/*background color*/
.bg-blue-50{background-color: #eff6ff;}
.bg-blue-100{background-color: #dbeafe;}
.bg-blue-200{background-color: #bfdbfe;}
.bg-blue-300{background-color: #93c5fd;}
.bg-blue-400{background-color: #60a5fa;}
.bg-blue-500{background-color: #3b82f6;}
.bg-blue-600{background-color: #2563eb;}
.bg-blue-700{background-color: #1d4ed8;}
.bg-blue-800{background-color: #1e40af;}
.bg-blue-900{background-color: #1e3a8a;}

.bg-black-50{background-color: #f8fafc;}
.bg-black-100{background-color: #f1f5f9;}
.bg-black-200{background-color: #e2e8f0;}
.bg-black-300{background-color: #cbd5e1;}
.bg-black-400{background-color: #94a3b8;}
.bg-black-500{background-color: #64748b;}
.bg-black-600{background-color: #475569;}
.bg-black-700{background-color: #334155;}
.bg-black-800{background-color: #1e293b;}
.bg-black-900{background-color: #0f172a;}

.bg-red-50{background-color: #fff1f2;}
.bg-red-100{background-color: #ffe4e6;}
.bg-red-200{background-color: #fecdd3;}
.bg-red-300{background-color: #fda4af;}
.bg-red-400{background-color: #fb7185;}
.bg-red-500{background-color: #f43f5e;}
.bg-red-600{background-color: #e11d48;}
.bg-red-700{background-color: #be123c;}
.bg-red-800{background-color: #9f1239;}
.bg-red-900{background-color: #881337;}

.bg-purple-50{background-color: #f5f3ff;}
.bg-purple-100{background-color: #ede9fe;}
.bg-purple-200{background-color: #ddd6fe;}
.bg-purple-300{background-color: #c4b5fd;}
.bg-purple-400{background-color: #a78bfa;}
.bg-purple-500{background-color: #8b5cf6;}
.bg-purple-600{background-color: #7c3aed;}
.bg-purple-700{background-color: #6d28d9;}
.bg-purple-800{background-color: #5b21b6;}
.bg-purple-900{background-color: #4c1d95;}

.bg-green-50{background-color: #ecfdf5;}
.bg-green-100{background-color: #d1fae5;}
.bg-green-200{background-color: #a7f3d0;}
.bg-green-300{background-color: #6ee7b7;}
.bg-green-400{background-color: #34d399;}
.bg-green-500{background-color: #10b981;}
.bg-green-600{background-color: #059669;}
.bg-green-700{background-color: #047857;}
.bg-green-800{background-color: #065f46;}
.bg-green-900{background-color: #064e3b;}

/*txtcolor*/
.c-blue-50{color: #eff6ff;}
.c-blue-100{color: #dbeafe;}
.c-blue-200{color: #bfdbfe;}
.c-blue-300{color: #93c5fd;}
.c-blue-400{color: #60a5fa;}
.c-blue-500{color: #3b82f6;}
.c-blue-600{color: #2563eb;}
.c-blue-700{color: #1d4ed8;}
.c-blue-800{color: #1e40af;}
.c-blue-900{color: #1e3a8a;}

.c-black-50{color: #f8fafc;}
.c-black-100{color: #f1f5f9;}
.c-black-200{color: #e2e8f0;}
.c-black-300{color: #cbd5e1;}
.c-black-400{color: #94a3b8;}
.c-black-500{color: #64748b;}
.c-black-600{color: #475569;}
.c-black-700{color: #334155;}
.c-black-800{color: #1e293b;}
.c-black-900{color: #0f172a;}

.c-red-50{color: #fff1f2;}
.c-red-100{color: #ffe4e6;}
.c-red-200{color: #fecdd3;}
.c-red-300{color: #fda4af;}
.c-red-400{color: #fb7185;}
.c-red-500{color: #f43f5e;}
.c-red-600{color: #e11d48;}
.c-red-700{color: #be123c;}
.c-red-800{color: #9f1239;}
.c-red-900{color: #881337;}

.c-purple-50{color: #f5f3ff;}
.c-purple-100{color: #ede9fe;}
.c-purple-200{color: #ddd6fe;}
.c-purple-300{color: #c4b5fd;}
.c-purple-400{color: #a78bfa;}
.c-purple-500{color: #8b5cf6;}
.c-purple-600{color: #7c3aed;}
.c-purple-700{color: #6d28d9;}
.c-purple-800{color: #5b21b6;}
.c-purple-900{color: #4c1d95;}

.c-green-50{color: #ecfdf5;}
.c-green-100{color: #d1fae5;}
.c-green-200{color: #a7f3d0;}
.c-green-300{color: #6ee7b7;}
.c-green-400{color: #34d399;}
.c-green-500{color: #10b981;}
.c-green-600{color: #059669;}
.c-green-700{color: #047857;}
.c-green-800{color: #065f46;}
.c-green-900{color: #064e3b;}
/*border width*/
.b-none{border-width: var(--none);}
.b-sthin{border-width: var(--sthin);}
.b-thin{border-width: var(--thin);}
.b-medium{border-width: var(--medium);}
.b-thick{border-width: var(--thick);}
.b-sthick{border-width: var(--sthick);}

.b-top-none{border-top-width: var(--none);}
.b-top-sthin{border-top-width: var(--sthin);}
.b-top-thin{border-top-width: var(--thin);}
.b-top-medium{border-top-width: var(--medium);}
.b-top-thick{border-top-width: var(--thick);}
.b-top-sthick{border-top-width: var(--sthick);}

.b-bottom-none{border-bottom-width: var(--none);}
.b-bottom-sthin{border-bottom-width: var(--sthin);}
.b-bottom-thin{border-bottom-width: var(--thin);}
.b-bottom-medium{border-bottom-width: var(--medium);}
.b-bottom-thick{border-bottom-width: var(--thick);}
.b-bottom-sthick{border-bottom-width: var(--sthick);}

.b-left-none{border-left-width: var(--none);}
.b-left-sthin{border-left-width: var(--sthin);}
.b-left-thin{border-left-width: var(--thin);}
.b-left-medium{border-left-width: var(--medium);}
.b-left-thick{border-left-width: var(--thick);}
.b-left-sthick{border-left-width: var(--sthick);}

.b-right-none{border-right-width: var(--none);}
.b-right-sthin{border-right-width: var(--sthin);}
.b-right-thin{border-right-width: var(--thin);}
.b-right-medium{border-right-width: var(--medium);}
.b-right-thick{border-right-width: var(--thick);}
.b-right-sthick{border-right-width: var(--sthick);}
/*border color*/
.b-blue-50{border-color: #eff6ff;}
.b-blue-100{border-color: #dbeafe;}
.b-blue-200{border-color: #bfdbfe;}
.b-blue-300{border-color: #93c5fd;}
.b-blue-400{border-color: #60a5fa;}
.b-blue-500{border-color: #3b82f6;}
.b-blue-600{border-color: #2563eb;}
.b-blue-700{border-color: #1d4ed8;}
.b-blue-800{border-color: #1e40af;}
.b-blue-900{border-color: #1e3a8a;}
.b-black-50{border-color: #f8fafc;}
.b-black-100{border-color: #f1f5f9;}
.b-black-200{border-color: #e2e8f0;}
.b-black-300{border-color: #cbd5e1;}
.b-black-400{border-color: #94a3b8;}
.b-black-500{border-color: #64748b;}
.b-black-600{border-color: #475569;}
.b-black-700{border-color: #334155;}
.b-black-800{border-color: #1e293b;}
.b-black-900{border-color: #0f172a;}
.b-red-50{border-color: #fff1f2;}
.b-red-100{border-color: #ffe4e6;}
.b-red-200{border-color: #fecdd3;}
.b-red-300{border-color: #fda4af;}
.b-red-400{border-color: #fb7185;}
.b-red-500{border-color: #f43f5e;}
.b-red-600{border-color: #e11d48;}
.b-red-700{border-color: #be123c;}
.b-red-800{border-color: #9f1239;}
.b-red-900{border-color: #881337;}
.b-purple-50{border-color: #f5f3ff;}
.b-purple-100{border-color: #ede9fe;}
.b-purple-200{border-color: #ddd6fe;}
.b-purple-300{border-color: #c4b5fd;}
.b-purple-400{border-color: #a78bfa;}
.b-purple-500{border-color: #8b5cf6;}
.b-purple-600{border-color: #7c3aed;}
.b-purple-700{border-color: #6d28d9;}
.b-purple-800{border-color: #5b21b6;}
.b-purple-900{border-color: #4c1d95;}
.b-green-50{border-color: #ecfdf5;}
.b-green-100{border-color: #d1fae5;}
.b-green-200{border-color: #a7f3d0;}
.b-green-300{border-color: #6ee7b7;}
.b-green-400{border-color: #34d399;}
.b-green-500{border-color: #10b981;}
.b-green-600{border-color: #059669;}
.b-green-700{border-color: #047857;}
.b-green-800{border-color: #065f46;}
.b-green-900{border-color: #064e3b;}

.b-top-blue-50{border-top-color: #eff6ff;}
.b-top-blue-100{border-top-color: #dbeafe;}
.b-top-blue-200{border-top-color: #bfdbfe;}
.b-top-blue-300{border-top-color: #93c5fd;}
.b-top-blue-400{border-top-color: #60a5fa;}
.b-top-blue-500{border-top-color: #3b82f6;}
.b-top-blue-600{border-top-color: #2563eb;}
.b-top-blue-700{border-top-color: #1d4ed8;}
.b-top-blue-800{border-top-color: #1e40af;}
.b-top-blue-900{border-top-color: #1e3a8a;}
.b-top-black-50{border-top-color: #f8fafc;}
.b-top-black-100{border-top-color: #f1f5f9;}
.b-top-black-200{border-top-color: #e2e8f0;}
.b-top-black-300{border-top-color: #cbd5e1;}
.b-top-black-400{border-top-color: #94a3b8;}
.b-top-black-500{border-top-color: #64748b;}
.b-top-black-600{border-top-color: #475569;}
.b-top-black-700{border-top-color: #334155;}
.b-top-black-800{border-top-color: #1e293b;}
.b-top-black-900{border-top-color: #0f172a;}
.b-top-red-50{border-top-color: #fff1f2;}
.b-top-red-100{border-top-color: #ffe4e6;}
.b-top-red-200{border-top-color: #fecdd3;}
.b-top-red-300{border-top-color: #fda4af;}
.b-top-red-400{border-top-color: #fb7185;}
.b-top-red-500{border-top-color: #f43f5e;}
.b-top-red-600{border-top-color: #e11d48;}
.b-top-red-700{border-top-color: #be123c;}
.b-top-red-800{border-top-color: #9f1239;}
.b-top-red-900{border-top-color: #881337;}
.b-top-purple-50{border-top-color: #f5f3ff;}
.b-top-purple-100{border-top-color: #ede9fe;}
.b-top-purple-200{border-top-color: #ddd6fe;}
.b-top-purple-300{border-top-color: #c4b5fd;}
.b-top-purple-400{border-top-color: #a78bfa;}
.b-top-purple-500{border-top-color: #8b5cf6;}
.b-top-purple-600{border-top-color: #7c3aed;}
.b-top-purple-700{border-top-color: #6d28d9;}
.b-top-purple-800{border-top-color: #5b21b6;}
.b-top-purple-900{border-top-color: #4c1d95;}
.b-top-green-50{border-top-color: #ecfdf5;}
.b-top-green-100{border-top-color: #d1fae5;}
.b-top-green-200{border-top-color: #a7f3d0;}
.b-top-green-300{border-top-color: #6ee7b7;}
.b-top-green-400{border-top-color: #34d399;}
.b-top-green-500{border-top-color: #10b981;}
.b-top-green-600{border-top-color: #059669;}
.b-top-green-700{border-top-color: #047857;}
.b-top-green-800{border-top-color: #065f46;}
.b-top-green-900{border-top-color: #064e3b;}

.b-bottom-blue-50{border-bottom-color: #eff6ff;}
.b-bottom-blue-100{border-bottom-color: #dbeafe;}
.b-bottom-blue-200{border-bottom-color: #bfdbfe;}
.b-bottom-blue-300{border-bottom-color: #93c5fd;}
.b-bottom-blue-400{border-bottom-color: #60a5fa;}
.b-bottom-blue-500{border-bottom-color: #3b82f6;}
.b-bottom-blue-600{border-bottom-color: #2563eb;}
.b-bottom-blue-700{border-bottom-color: #1d4ed8;}
.b-bottom-blue-800{border-bottom-color: #1e40af;}
.b-bottom-blue-900{border-bottom-color: #1e3a8a;}
.b-bottom-black-50{border-bottom-color: #f8fafc;}
.b-bottom-black-100{border-bottom-color: #f1f5f9;}
.b-bottom-black-200{border-bottom-color: #e2e8f0;}
.b-bottom-black-300{border-bottom-color: #cbd5e1;}
.b-bottom-black-400{border-bottom-color: #94a3b8;}
.b-bottom-black-500{border-bottom-color: #64748b;}
.b-bottom-black-600{border-bottom-color: #475569;}
.b-bottom-black-700{border-bottom-color: #334155;}
.b-bottom-black-800{border-bottom-color: #1e293b;}
.b-bottom-black-900{border-bottom-color: #0f172a;}
.b-bottom-red-50{border-bottom-color: #fff1f2;}
.b-bottom-red-100{border-bottom-color: #ffe4e6;}
.b-bottom-red-200{border-bottom-color: #fecdd3;}
.b-bottom-red-300{border-bottom-color: #fda4af;}
.b-bottom-red-400{border-bottom-color: #fb7185;}
.b-bottom-red-500{border-bottom-color: #f43f5e;}
.b-bottom-red-600{border-bottom-color: #e11d48;}
.b-bottom-red-700{border-bottom-color: #be123c;}
.b-bottom-red-800{border-bottom-color: #9f1239;}
.b-bottom-red-900{border-bottom-color: #881337;}
.b-bottom-purple-50{border-bottom-color: #f5f3ff;}
.b-bottom-purple-100{border-bottom-color: #ede9fe;}
.b-bottom-purple-200{border-bottom-color: #ddd6fe;}
.b-bottom-purple-300{border-bottom-color: #c4b5fd;}
.b-bottom-purple-400{border-bottom-color: #a78bfa;}
.b-bottom-purple-500{border-bottom-color: #8b5cf6;}
.b-bottom-purple-600{border-bottom-color: #7c3aed;}
.b-bottom-purple-700{border-bottom-color: #6d28d9;}
.b-bottom-purple-800{border-bottom-color: #5b21b6;}
.b-bottom-purple-900{border-bottom-color: #4c1d95;}
.b-bottom-green-50{border-bottom-color: #ecfdf5;}
.b-bottom-green-100{border-bottom-color: #d1fae5;}
.b-bottom-green-200{border-bottom-color: #a7f3d0;}
.b-bottom-green-300{border-bottom-color: #6ee7b7;}
.b-bottom-green-400{border-bottom-color: #34d399;}
.b-bottom-green-500{border-bottom-color: #10b981;}
.b-bottom-green-600{border-bottom-color: #059669;}
.b-bottom-green-700{border-bottom-color: #047857;}
.b-bottom-green-800{border-bottom-color: #065f46;}
.b-bottom-green-900{border-bottom-color: #064e3b;}

.b-left-blue-50{border-left-color: #eff6ff;}
.b-left-blue-100{border-left-color: #dbeafe;}
.b-left-blue-200{border-left-color: #bfdbfe;}
.b-left-blue-300{border-left-color: #93c5fd;}
.b-left-blue-400{border-left-color: #60a5fa;}
.b-left-blue-500{border-left-color: #3b82f6;}
.b-left-blue-600{border-left-color: #2563eb;}
.b-left-blue-700{border-left-color: #1d4ed8;}
.b-left-blue-800{border-left-color: #1e40af;}
.b-left-blue-900{border-left-color: #1e3a8a;}
.b-left-black-50{border-left-color: #f8fafc;}
.b-left-black-100{border-left-color: #f1f5f9;}
.b-left-black-200{border-left-color: #e2e8f0;}
.b-left-black-300{border-left-color: #cbd5e1;}
.b-left-black-400{border-left-color: #94a3b8;}
.b-left-black-500{border-left-color: #64748b;}
.b-left-black-600{border-left-color: #475569;}
.b-left-black-700{border-left-color: #334155;}
.b-left-black-800{border-left-color: #1e293b;}
.b-left-black-900{border-left-color: #0f172a;}
.b-left-red-50{border-left-color: #fff1f2;}
.b-left-red-100{border-left-color: #ffe4e6;}
.b-left-red-200{border-left-color: #fecdd3;}
.b-left-red-300{border-left-color: #fda4af;}
.b-left-red-400{border-left-color: #fb7185;}
.b-left-red-500{border-left-color: #f43f5e;}
.b-left-red-600{border-left-color: #e11d48;}
.b-left-red-700{border-left-color: #be123c;}
.b-left-red-800{border-left-color: #9f1239;}
.b-left-red-900{border-left-color: #881337;}
.b-left-purple-50{border-left-color: #f5f3ff;}
.b-left-purple-100{border-left-color: #ede9fe;}
.b-left-purple-200{border-left-color: #ddd6fe;}
.b-left-purple-300{border-left-color: #c4b5fd;}
.b-left-purple-400{border-left-color: #a78bfa;}
.b-left-purple-500{border-left-color: #8b5cf6;}
.b-left-purple-600{border-left-color: #7c3aed;}
.b-left-purple-700{border-left-color: #6d28d9;}
.b-left-purple-800{border-left-color: #5b21b6;}
.b-left-purple-900{border-left-color: #4c1d95;}
.b-left-green-50{border-left-color: #ecfdf5;}
.b-left-green-100{border-left-color: #d1fae5;}
.b-left-green-200{border-left-color: #a7f3d0;}
.b-left-green-300{border-left-color: #6ee7b7;}
.b-left-green-400{border-left-color: #34d399;}
.b-left-green-500{border-left-color: #10b981;}
.b-left-green-600{border-left-color: #059669;}
.b-left-green-700{border-left-color: #047857;}
.b-left-green-800{border-left-color: #065f46;}
.b-left-green-900{border-left-color: #064e3b;}

.b-right-blue-50{border-right-color: #eff6ff;}
.b-right-blue-100{border-right-color: #dbeafe;}
.b-right-blue-200{border-right-color: #bfdbfe;}
.b-right-blue-300{border-right-color: #93c5fd;}
.b-right-blue-400{border-right-color: #60a5fa;}
.b-right-blue-500{border-right-color: #3b82f6;}
.b-right-blue-600{border-right-color: #2563eb;}
.b-right-blue-700{border-right-color: #1d4ed8;}
.b-right-blue-800{border-right-color: #1e40af;}
.b-right-blue-900{border-right-color: #1e3a8a;}
.b-right-black-50{border-right-color: #f8fafc;}
.b-right-black-100{border-right-color: #f1f5f9;}
.b-right-black-200{border-right-color: #e2e8f0;}
.b-right-black-300{border-right-color: #cbd5e1;}
.b-right-black-400{border-right-color: #94a3b8;}
.b-right-black-500{border-right-color: #64748b;}
.b-right-black-600{border-right-color: #475569;}
.b-right-black-700{border-right-color: #334155;}
.b-right-black-800{border-right-color: #1e293b;}
.b-right-black-900{border-right-color: #0f172a;}
.b-right-red-50{border-right-color: #fff1f2;}
.b-right-red-100{border-right-color: #ffe4e6;}
.b-right-red-200{border-right-color: #fecdd3;}
.b-right-red-300{border-right-color: #fda4af;}
.b-right-red-400{border-right-color: #fb7185;}
.b-right-red-500{border-right-color: #f43f5e;}
.b-right-red-600{border-right-color: #e11d48;}
.b-right-red-700{border-right-color: #be123c;}
.b-right-red-800{border-right-color: #9f1239;}
.b-right-red-900{border-right-color: #881337;}
.b-right-purple-50{border-right-color: #f5f3ff;}
.b-right-purple-100{border-right-color: #ede9fe;}
.b-right-purple-200{border-right-color: #ddd6fe;}
.b-right-purple-300{border-right-color: #c4b5fd;}
.b-right-purple-400{border-right-color: #a78bfa;}
.b-right-purple-500{border-right-color: #8b5cf6;}
.b-right-purple-600{border-right-color: #7c3aed;}
.b-right-purple-700{border-right-color: #6d28d9;}
.b-right-purple-800{border-right-color: #5b21b6;}
.b-right-purple-900{border-right-color: #4c1d95;}
.b-right-green-50{border-right-color: #ecfdf5;}
.b-right-green-100{border-right-color: #d1fae5;}
.b-right-green-200{border-right-color: #a7f3d0;}
.b-right-green-300{border-right-color: #6ee7b7;}
.b-right-green-400{border-right-color: #34d399;}
.b-right-green-500{border-right-color: #10b981;}
.b-right-green-600{border-right-color: #059669;}
.b-right-green-700{border-right-color: #047857;}
.b-right-green-800{border-right-color: #065f46;}
.b-right-green-900{border-top-color: #064e3b;}
/*border style*/
.b-hidden{border-style: hidden;}
.b-dotted{border-style: dotted;}
.b-dashed{border-style: dashed;}
.b-solid{border-style: solid;}
.b-double{border-style: double;}
.b-groove{border-style: groove;}
.b-ridge{border-style: ridge;}
.b-inset{border-style: inset;}
.b-outset{border-style: outset;}
.b-initial{border-style: initial;}
.b-inherit{border-style: inherit;}

.b-top-hidden{border-top-style: hidden;}
.b-top-dotted{border-top-style: dotted;}
.b-top-dashed{border-top-style: dashed;}
.b-top-solid{border-top-style: solid;}
.b-top-double{border-top-style: double;}
.b-top-groove{border-top-style: groove;}
.b-top-ridge{border-top-style: ridge;}
.b-top-inset{border-top-style: inset;}
.b-top-outset{border-top-style: outset;}
.b-top-initial{border-top-style: initial;}
.b-top-inherit{border-top-style: inherit;}

.b-bottom-hidden{border-bottom-style: hidden;}
.b-bottom-dotted{border-bottom-style: dotted;}
.b-bottom-dashed{border-bottom-style: dashed;}
.b-bottom-solid{border-bottom-style: solid;}
.b-bottom-double{border-bottom-style: double;}
.b-bottom-groove{border-bottom-style: groove;}
.b-bottom-ridge{border-bottom-style: ridge;}
.b-bottom-inset{border-bottom-style: inset;}
.b-bottom-outset{border-bottom-style: outset;}
.b-bottom-initial{border-bottom-style: initial;}
.b-bottom-inherit{border-bottom-style: inherit;}

.b-left-hidden{border-left-style: hidden;}
.b-left-dotted{border-left-style: dotted;}
.b-left-dashed{border-left-style: dashed;}
.b-left-solid{border-left-style: solid;}
.b-left-double{border-left-style: double;}
.b-left-groove{border-left-style: groove;}
.b-left-ridge{border-left-style: ridge;}
.b-left-inset{border-left-style: inset;}
.b-left-outset{border-left-style: outset;}
.b-left-initial{border-left-style: initial;}
.b-left-inherit{border-left-style: inherit;}

.b-right-hidden{border-right-style: hidden;}
.b-right-dotted{border-right-style: dotted;}
.b-right-dashed{border-right-style: dashed;}
.b-right-solid{border-right-style: solid;}
.b-right-double{border-right-style: double;}
.b-right-groove{border-right-style: groove;}
.b-right-ridge{border-right-style: ridge;}
.b-right-inset{border-right-style: inset;}
.b-right-outset{border-right-style: outset;}
.b-right-initial{border-right-style: initial;}
.b-right-inherit{border-right-style: inherit;}
/*border radius*/
.round-full{border-radius: 50%;}
.round-xs{border-radius: var(--xs-size);}
.round-s{border-radius: var(--s-size);}
.round-m{border-radius: var(--m-size);}
.round-l{border-radius: var(--l-size);}
.round-xl{border-radius: var(--xl-size);}

.round-topleft-full{border-radius: 50%;}
.round-topleft-xs{border-top-left-radius: var(--xs-size);}
.round-topleft-s{border-top-left-radius: var(--s-size);}
.round-topleft-m{border-top-left-radius: var(--m-size);}
.round-topleft-l{border-top-left-radius: var(--l-size);}
.round-topleft-xl{border-top-left-radius: var(--xl-size);}

.round-bottomleft-full{border-radius: 50%;}
.round-bottomleft-xs{border-bottom-left-radius: var(--xs-size);}
.round-bottomleft-s{border-bottom-left-radius: var(--s-size);}
.round-bottomleft-m{border-bottom-left-radius: var(--m-size);}
.round-bottomleft-l{border-bottom-left-radius: var(--l-size);}
.round-bottomleft-xl{border-bottom-left-radius: var(--xl-size);}

.round-topright-full{border-radius: 50%;}
.round-topright-xs{border-top-right-radius: var(--xs-size);}
.round-topright-s{border-top-right-radius: var(--s-size);}
.round-topright-m{border-top-right-radius: var(--m-size);}
.round-topright-l{border-top-right-radius: var(--l-size);}
.round-topright-xl{border-top-right-radius: var(--xl-size);}

.round-bottomright-xs{border-bottom-right-radius: var(--xs-size);}
.round-bottomright-s{border-bottom-right-radius: var(--s-size);}
.round-bottomright-m{border-bottom-right-radius: var(--m-size);}
.round-bottomright-l{border-bottom-right-radius: var(--l-size);}
.round-bottomright-xl{border-bottom-right-radius: var(--xl-size);}
/* Justify content */
.jc-center{justify-content: center;}
.jc-flexend{justify-content: flex-end;}
.jc-flexstart{justify-content: flex-start;}
.jc-spacebetween{justify-content: space-between;}
.jc-spacearound{justify-content: space-around;}
.jc-spaceevenly{justify-content: space-evenly;}
.jc-initial{justify-content: initial;}
.jc-inherit{justify-content: inherit;}
/* align items*/
.ai-center{align-items: center;}
.ai-flexend{align-items: flex-end;}
.ai-flexstart{align-items: flex-start;}
.ai-stretch{align-items: stretch;}
.ai-baseline{align-items: baseline}
.ai-inherit{align-items: inherit;}
.ai-initial{align-items: initial;}
/* Position */
.p-static{position: static;}
.p-relative{position: relative;}
.p-fixed{position: fixed;}
.p-absolute{position: absolute;}
.p-sticky{position: sticky;}
/* fonts */
.f-roboto{font-family: 'Roboto', sans-serif;}
.f-ubuntu{font-family: 'Ubuntu', sans-serif;}
.f-poppins{font-family: 'Poppins', sans-serif;}
.f-merriweather{font-family: 'Merriweather', serif;}
.f-bevietnampro{font-family: 'Be Vietnam Pro', sans-serif;}
.f-rowdies{font-family: 'Roudies';}
.f-ubuntumono{font-family: 'Ubuntu Mono', monospace;}
.f-questrial{font-family: 'Questrial', sans-serif;}
/* font weight */
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
/* Text Align */
.ta-left{text-align: left;}
.ta-right{text-align: right;}
.ta-center{text-align: center;}
/* Display */
.d-flex{display: flex;}
.d-block{display: block;}
.d-inlineflex{display: inline-flex;}
.d-inlineblock{display: inline-block;}
.d-inline{display: inline;}
.d-initial{display: initial;}
.d-inherit{display: inherit;}
/* Shadow */
.shadow1{box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.shadow2{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.shadow3{box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}
.shadow4{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
.shadow5{box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}
/* Transform translateX */
.transX-10{transform: translateX(10%);}
.transX-20{transform: translateX(20%);}
.transX-30{transform: translateX(30%);}
.transX-40{transform: translateX(40%);}
.transX-50{transform: translateX(50%);}
.transX-60{transform: translateX(60%);}
.transX-70{transform: translateX(70%);}
.transX-80{transform: translateX(80%);}
.transX-90{transform: translateX(90%);}
.transX-100{transform: translateX(100%);}

.transX-n10{transform: translateX(-10%);}
.transX-n20{transform: translateX(-20%);}
.transX-n30{transform: translateX(-30%);}
.transX-n40{transform: translateX(-40%);}
.transX-n50{transform: translateX(-50%);}
.transX-n60{transform: translateX(-60%);}
.transX-n70{transform: translateX(-70%);}
.transX-n80{transform: translateX(-80%);}
.transX-n90{transform: translateX(-90%);}
.transX-n100{transform: translateX(-100%);}
/* Transform translateY */
.transY-10{transform: translateY(10%);}
.transY-20{transform: translateY(20%);}
.transY-30{transform: translateY(30%);}
.transY-40{transform: translateY(40%);}
.transY-50{transform: translateY(50%);}
.transY-60{transform: translateY(60%);}
.transY-70{transform: translateY(70%);}
.transY-80{transform: translateY(80%);}
.transY-90{transform: translateY(90%);}
.transY-100{transform: translateY(100%);}

.transY-n10{transform: translateY(-10%);}
.transY-n20{transform: translateY(-20%);}
.transY-n30{transform: translateY(-30%);}
.transY-n40{transform: translateY(-40%);}
.transY-n50{transform: translateY(-50%);}
.transY-n60{transform: translateY(-60%);}
.transY-n70{transform: translateY(-70%);}
.transY-n80{transform: translateY(-80%);}
.transY-n90{transform: translateY(-90%);}
.transY-n100{transform: translateY(-100%);}
/* Transform translateZ */
.transZ-10{transform: translateZ(10%);}
.transZ-20{transform: translateZ(20%);}
.transZ-30{transform: translateZ(30%);}
.transZ-40{transform: translateZ(40%);}
.transZ-50{transform: translateZ(50%);}
.transZ-60{transform: translateZ(60%);}
.transZ-70{transform: translateZ(70%);}
.transZ-80{transform: translateZ(80%);}
.transZ-90{transform: translateZ(90%);}
.transZ-100{transform: translateZ(100%);}

.transZ-n10{transform: translateZ(-10%);}
.transZ-n20{transform: translateZ(-20%);}
.transZ-n30{transform: translateZ(-30%);}
.transZ-n40{transform: translateZ(-40%);}
.transZ-n50{transform: translateZ(-50%);}
.transZ-n60{transform: translateZ(-60%);}
.transZ-n70{transform: translateZ(-70%);}
.transZ-n80{transform: translateZ(-80%);}
.transZ-n90{transform: translateZ(-90%);}
.transZ-n100{transform: translateZ(-100%);}
/* Transform rotateX */
.rotX-10{transform: rotateX(10%);}
.rotX-20{transform: rotateX(20%);}
.rotX-30{transform: rotateX(30%);}
.rotX-40{transform: rotateX(40%);}
.rotX-50{transform: rotateX(50%);}
.rotX-60{transform: rotateX(60%);}
.rotX-70{transform: rotateX(70%);}
.rotX-80{transform: rotateX(80%);}
.rotX-90{transform: rotateX(90%);}
.rotX-100{transform: rotateX(100%);}

.rotX-n10{transform: rotateX(-10%);}
.rotX-n20{transform: rotateX(-20%);}
.rotX-n30{transform: rotateX(-30%);}
.rotX-n40{transform: rotateX(-40%);}
.rotX-n50{transform: rotateX(-50%);}
.rotX-n60{transform: rotateX(-60%);}
.rotX-n70{transform: rotateX(-70%);}
.rotX-n80{transform: rotateX(-80%);}
.rotX-n90{transform: rotateX(-90%);}
.rotX-n100{transform: rotateX(-100%);}
/* Transform rotateY */
.rotY-10{transform: rotateY(10%);}
.rotY-20{transform: rotateY(20%);}
.rotY-30{transform: rotateY(30%);}
.rotY-40{transform: rotateY(40%);}
.rotY-50{transform: rotateY(50%);}
.rotY-60{transform: rotateY(60%);}
.rotY-70{transform: rotateY(70%);}
.rotY-80{transform: rotateY(80%);}
.rotY-90{transform: rotateY(90%);}
.rotY-100{transform: rotateY(100%);}

.rotY-n10{transform: rotateY(-10%);}
.rotY-n20{transform: rotateY(-20%);}
.rotY-n30{transform: rotateY(-30%);}
.rotY-n40{transform: rotateY(-40%);}
.rotY-n50{transform: rotateY(-50%);}
.rotY-n60{transform: rotateY(-60%);}
.rotY-n70{transform: rotateY(-70%);}
.rotY-n80{transform: rotateY(-80%);}
.rotY-n90{transform: rotateY(-90%);}
.rotY-n100{transform: rotateY(-100%);}
/* Transform rotateZ */
.rotZ-10{transform: rotateZ(10%);}
.rotZ-20{transform: rotateZ(20%);}
.rotZ-30{transform: rotateZ(30%);}
.rotZ-40{transform: rotateZ(40%);}
.rotZ-50{transform: rotateZ(50%);}
.rotZ-60{transform: rotateZ(60%);}
.rotZ-70{transform: rotateZ(70%);}
.rotZ-80{transform: rotateZ(80%);}
.rotZ-90{transform: rotateZ(90%);}
.rotZ-100{transform: rotateZ(100%);}

.rotZ-n10{transform: rotateZ(-10%);}
.rotZ-n20{transform: rotateZ(-20%);}
.rotZ-n30{transform: rotateZ(-30%);}
.rotZ-n40{transform: rotateZ(-40%);}
.rotZ-n50{transform: rotateZ(-50%);}
.rotZ-n60{transform: rotateZ(-60%);}
.rotZ-n70{transform: rotateZ(-70%);}
.rotZ-n80{transform: rotateZ(-80%);}
.rotZ-n90{transform: rotateZ(-90%);}
.rotZ-n100{transform: rotateZ(-100%);}

/* Filter */
.f-none{-webkit-filter: none;}

.f-blur-0{-webkit-filter: blur(0px);}
.f-blur-1{-webkit-filter: blur(1px);}
.f-blur-2{-webkit-filter: blur(2px);}
.f-blur-3{-webkit-filter: blur(3px);}
.f-blur-4{-webkit-filter: blur(4px);}
.f-blur-5{-webkit-filter: blur(5px);}
.f-blur-6{-webkit-filter: blur(6px);}
.f-blur-7{-webkit-filter: blur(7px);}
.f-blur-8{-webkit-filter: blur(8px);}
.f-blur-9{-webkit-filter: blur(9px);}
.f-blur-10{-webkit-filter: blur(10px);}
.f-blur-11{-webkit-filter: blur(11px);}
.f-blur-12{-webkit-filter: blur(12px);}
.f-blur-13{-webkit-filter: blur(13px);}
.f-blur-14{-webkit-filter: blur(14px);}
.f-blur-15{-webkit-filter: blur(15px);}
.f-blur-16{-webkit-filter: blur(16px);}
.f-blur-17{-webkit-filter: blur(17px);}
.f-blur-18{-webkit-filter: blur(18px);}
.f-blur-19{-webkit-filter: blur(19px);}
.f-blur-20{-webkit-filter: blur(20px);}

.f-bright-0{-webkit-filter: brightness(0%);}
.f-bright-10{-webkit-filter: brightness(10%);}
.f-bright-20{-webkit-filter: brightness(20%);}
.f-bright-30{-webkit-filter: brightness(30%);}
.f-bright-40{-webkit-filter: brightness(40%);}
.f-bright-50{-webkit-filter: brightness(50%);}
.f-bright-60{-webkit-filter: brightness(60%);}
.f-bright-70{-webkit-filter: brightness(70%);}
.f-bright-80{-webkit-filter: brightness(80%);}
.f-bright-90{-webkit-filter: brightness(90%);}
.f-bright-100{-webkit-filter: brightness(100%);}

.f-contrast-0{-webkit-filter: contrast(0%);}
.f-contrast-10{-webkit-filter: contrast(10%);}
.f-contrast-20{-webkit-filter: contrast(20%);}
.f-contrast-30{-webkit-filter: contrast(30%);}
.f-contrast-40{-webkit-filter: contrast(40%);}
.f-contrast-50{-webkit-filter: contrast(50%);}
.f-contrast-60{-webkit-filter: contrast(60%);}
.f-contrast-70{-webkit-filter: contrast(70%);}
.f-contrast-80{-webkit-filter: contrast(80%);}
.f-contrast-90{-webkit-filter: contrast(90%);}
.f-contrast-100{-webkit-filter: contrast(100%);}

.f-grayscale-0{-webkit-filter: grayscale(0%);}
.f-grayscale-10{-webkit-filter: grayscale(10%);}
.f-grayscale-20{-webkit-filter: grayscale(20%);}
.f-grayscale-30{-webkit-filter: grayscale(30%);}
.f-grayscale-40{-webkit-filter: grayscale(40%);}
.f-grayscale-50{-webkit-filter: grayscale(50%);}
.f-grayscale-60{-webkit-filter: grayscale(60%);}
.f-grayscale-70{-webkit-filter: grayscale(70%);}
.f-grayscale-80{-webkit-filter: grayscale(80%);}
.f-grayscale-90{-webkit-filter: grayscale(90%);}
.f-grayscale-100{-webkit-filter: grayscale(100%);}

.f-hue-0{-webkit-filter: hue-rotate(0deg);}
.f-hue-10{-webkit-filter: hue-rotate(10deg);}
.f-hue-20{-webkit-filter: hue-rotate(20deg);}
.f-hue-30{-webkit-filter: hue-rotate(30deg);}
.f-hue-40{-webkit-filter: hue-rotate(40deg);}
.f-hue-50{-webkit-filter: hue-rotate(50deg);}
.f-hue-60{-webkit-filter: hue-rotate(60deg);}
.f-hue-70{-webkit-filter: hue-rotate(70deg);}
.f-hue-80{-webkit-filter: hue-rotate(80deg);}
.f-hue-90{-webkit-filter: hue-rotate(90deg);}
.f-hue-100{-webkit-filter: hue-rotate(100deg);}
.f-hue-10{-webkit-filter: hue-rotate(110deg);}
.f-hue-20{-webkit-filter: hue-rotate(120deg);}
.f-hue-30{-webkit-filter: hue-rotate(130deg);}
.f-hue-40{-webkit-filter: hue-rotate(140deg);}
.f-hue-50{-webkit-filter: hue-rotate(150deg);}
.f-hue-60{-webkit-filter: hue-rotate(160deg);}
.f-hue-70{-webkit-filter: hue-rotate(170deg);}
.f-hue-80{-webkit-filter: hue-rotate(180deg);}
.f-hue-90{-webkit-filter: hue-rotate(190deg);}
.f-hue-100{-webkit-filter: hue-rotate(200deg);}
.f-hue-10{-webkit-filter: hue-rotate(210deg);}
.f-hue-20{-webkit-filter: hue-rotate(220deg);}
.f-hue-30{-webkit-filter: hue-rotate(230deg);}
.f-hue-40{-webkit-filter: hue-rotate(240deg);}
.f-hue-50{-webkit-filter: hue-rotate(250deg);}
.f-hue-60{-webkit-filter: hue-rotate(260deg);}
.f-hue-70{-webkit-filter: hue-rotate(270deg);}
.f-hue-80{-webkit-filter: hue-rotate(280deg);}
.f-hue-90{-webkit-filter: hue-rotate(290deg);}
.f-hue-100{-webkit-filter: hue-rotate(300deg);}
.f-hue-10{-webkit-filter: hue-rotate(310deg);}
.f-hue-20{-webkit-filter: hue-rotate(320deg);}
.f-hue-30{-webkit-filter: hue-rotate(330deg);}
.f-hue-40{-webkit-filter: hue-rotate(340deg);}
.f-hue-50{-webkit-filter: hue-rotate(350deg);}
.f-hue-60{-webkit-filter: hue-rotate(360deg);}
/* left */
.lt-0{left: 0%}
.lt-20{left: 20%}
.lt-30{left: 30%}
.lt-40{left: 40%}
.lt-50{left: 50%}
.lt-60{left: 60%}
.lt-70{left: 70%}
.lt-80{left: 80%}
.lt-90{left: 90%}
.lt-100{left: 100%}
/* right */
.rt-0{right: 0%}
.rt-20{right: 20%}
.rt-30{right: 30%}
.rt-40{right: 40%}
.rt-50{right: 50%}
.rt-60{right: 60%}
.rt-70{right: 70%}
.rt-80{right: 80%}
.rt-90{right: 90%}
.rt-100{right: 100%}
/* top */
.tp-0{top: 0%}
.tp-20{top: 20%}
.tp-30{top: 30%}
.tp-40{top: 40%}
.tp-50{top: 50%}
.tp-60{top: 60%}
.tp-70{top: 70%}
.tp-80{top: 80%}
.tp-90{top: 90%}
.tp-100{top: 100%}
/* bottom */
.btm-0{bottom: 0%}
.btm-20{bottom: 20%}
.btm-30{bottom: 30%}
.btm-40{bottom: 40%}
.btm-50{bottom: 50%}
.btm-60{bottom: 60%}
.btm-70{bottom: 70%}
.btm-80{bottom: 80%}
.btm-90{bottom: 90%}
.btm-100{bottom: 100%}

/* Overflow */
.of-visible{overflow: visible;}
.of-hidden{overflow: hidden;}
.of-scroll{overflow: scroll;}
.of-auto{overflow: auto;}
.of-initial{overflow: initial;}
.of-inherit{overflow: inherit;}

/* Template */
irepub-special[data-type="openTag"]::before{content: "<";}
irepub-special[data-type="openTag"]::after{content: ">";}

irepub-special[data-type="closeTag"]::before{content: "</";}
irepub-special[data-type="closeTag"]::after{content: ">";}

irepub-special[data-type="copyright"]::before{content: "© ";}
irepub-special[data-type="heart"]::before{content: "♥ ";}
irepub-special[data-type="contact"]::before{content: "✆ ";}
irepub-special[data-type="cut"]::before{content: "✂ ";}
irepub-special[data-type="point"]::before{content: "☞ ";}

irepub-special[data-type="registered"]::after{content: "® ";}
irepub-special[data-type="trademark"]::after{content: "® ";}

irepub-special[data-type="arrowLeftRight1"]::before{content: "↞ ";}
irepub-special[data-type="arrowLeftRight1"]::after{content: " ↠";}

irepub-special[data-type="arrowLeftRight2"]::before{content: "↠  ";}
irepub-special[data-type="arrowLeftRight2"]::after{content: " ↞";}

irepub-special[data-type="arrowLeft"]::before{content: "↠ ";}
irepub-special[data-type="arrowRight"]::after{content: "↠ ";}

irepub-special::before, irepub-special::after{font-size: 20px;}